.lol-social-sidebar {
	background: transparent;
}

.parties-background,
.lobby-header-overlay
{
	transform: scale(1.5);
}
.season-pass-body-container {
	transform: scale(0.65) translateY(-9px) translateX(-81px)!important;
	width: 1312px;
}
.season-pass-footer {
	width: 877px;
}
.event-hub-season-pass-root {
	transform: scale(1.5);
}
.eh-page-header-top-bar {
	background: none;
}
.style-profile-backdrop-container,
.background,
.loot-backdrop,
.activity-center__background-component_container,
.activity-center-skin-activity.activity-center__template,
.clash-root-background-landing,
.clash-root-background
{
	transform: scale(1.5) translateY(40px) ;

}
.activity-center-skin-activity__content{
	transform: scale(0.5) translateY(-75px) !important;
}

.collections-application,
.yourshop-root
{
	background-size: 155%;
	width: 2000px;
}
.yourshop-content-wrapper {
	transform: translateX(-465px);
}

.rcp-fe-viewport-sidebar 
{
	background: transparent !important;
}
.collection-spell-video {
	transform: scale(1.5);
}
.moon-skin-backdrop,
.shoppefront-background
{
	transform: scale(1.5) translateY(75px);
}
.store-backdrop {
	background-size: 120%;
}
.rcp-fe-lol-tft-application {
	transform: scale(0.67) translateX(-150px);
}
.rcp-fe-lol-tft-hub {
	transform: scale(1.5) translateX(100px) translateY(10px);
}
.tft-hub-footer-bg{
	transform: scaleX(1.3) translateX(72px);
}
.tft-home-footer-bg {
	transform: scaleX(1.33) translateX(40px);
}
.rcp-fe-lol-tft-rotational-shop {
	transform: scale(0.65) translateX(-170px);
}
.rcp-fe-lol-tft-application-background {
	transform: scale(1.5) translateX(100px);
}
.tft-match-history-list {
	transform: scale(0.7) translateX(-70px) translateY(-30px);
}
.smoke-background-container  {
	transform: scale(1.5);
}